/*! pop up styles */

@import './utils' ;

.pop-up-overlay{
    position:fixed;
    visibility: hidden;
    min-height: 100vh;
    width:100vw;
    top:0;
    left:0;
    background: rgba(0,0,0,0.7);
    z-index:1000;
    opacity:0;
    transition:opacity 0.3s;
    &.active{
        opacity:1;
    }
    &.visible{
        visibility: visible;
    }
}

.pop-up-panel{
    position: fixed;
    z-index: 2000;
    min-width:300px;
    padding: 30px;
    top:60%;
    left:50%;
    transform: translate(-50%,-50%);
    visibility: hidden;
    border-radius:10px;
    background:#fff;
    opacity:0;
    transition:0.3s;
    box-shadow: 0 0 25px rgba(0,0,0,0.2);
    &.active{
        top:50%;
        opacity:1;
    }
    &.visible{
        visibility: visible;
    }
    .pop-up-content{
        padding:50px 0 30px;
    }
    .pop-up-title{
        float: left;
        margin-top:-5px;
        padding-right:20px;
        font-family: $raleway;
        font-weight:900;
        line-height:1.2;
        font-size: 80px;
        line-height:1;
        color: $darkBlue;
    }
}

.close{
    position: absolute;
    padding: 0;
    right:20px;
    top:15px;
    width:40px;
    height:40px;
    cursor: pointer;
    transition:0.2s;
    &:hover{
        transform: rotate(90deg);
        transform-origin: center;
    }
    span{
        background:$darkBlue;
        width: 100%;
        height:8px;
        display: block;
        position: absolute;
        &:first-child{
            transform: rotate(45deg);
        }
        &:last-child{
            transform: rotate(-45deg);
        }
    }
}

.popup-visible{
    overflow: hidden;
}



